
*.iml
**/.idea/**
Capstone_The-Battle-of-the-Neighborhoods.ipynb
.ipynb_checkpoints/Capstone_The-Battle-of-the-Neighborhoods-checkpoint.ipynb
199387_1319582_compressed_US_Accidents_June20.csv/Test_csv.xlsx
IBMAsperaConnect-ML-3.9.1.171801.msi
lift-cli-windows.zip
parse_csv.py
Test_csv.csv
Test_csv.xlsx
US_Accidents_June20.csv
